@import '../../../colors';

:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    > article {
        display: flex;
        flex-direction: column;
        padding: 2rem 5rem;
        > h3 {
            font-size: 2rem;
            font-weight: 500;
            margin: 1rem 0 3rem 0;
            color: rgba($darkgray, 1);
        }
        > h4 {
            font-size: 1.6rem;
            font-weight: 400;
            margin: 1rem 0;
            color: rgba($darkgray, 1);
        }
        > h5 {
            font-size: 1.6rem;
            font-weight: 300;
            margin: 0 0 3rem 0;
            color: rgba($darkgray, .8);
        }
        > p {
            font-size: 1.6rem;
            font-weight: 300;
            margin: .5rem 0;
            color: rgba($darkgray, 1);
        }
    }
}