:host {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    > main {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        height: 100%;
    }
}